<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:milanbeans.xml</param-value>
	</context-param>



	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<display-name>HelloWorld Application</display-name>
	<description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
<filter>  
  <filter-name>struts2</filter-name>  
   <filter-class>  
    org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter  
   </filter-class>  
 </filter> 
  
   
  <filter-mapping>  
   <filter-name>struts2</filter-name>  
    <url-pattern>/pages/*</url-pattern>  
  </filter-mapping>


<servlet>
 <description>CXF Endpoint</description>
 <servlet-name>webservice</servlet-name>
 <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
 <load-on-startup>1</load-on-startup>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>webservice</servlet-name>
 <url-pattern>/soap/api/*</url-pattern>
 </servlet-mapping>

<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>

	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/rest/api/*</url-pattern>
	</servlet-mapping>







	<!--
	<servlet>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>com.milan.sym.web.CustomerServlet</servlet-class>
		<init-param>
			<param-name>dname</param-name>
			<param-value>oracle.jdbc.OracleDriver</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

 <servlet> <servlet-name>Home</servlet-name> <servlet-class>com.milan.sym.web.HomeServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>Home</servlet-name> <url-pattern>/HomeServlet</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>Root</servlet-name> <servlet-class>com.milan.sym.web.RegisterServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>Root</servlet-name> <url-pattern>/RegisterServlet</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>welcome</servlet-name> <servlet-class>com.milan.sym.web.welcomeServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>welcome</servlet-name> <url-pattern>/welcomeServlet</url-pattern> 
		</servlet-mapping> -->
</web-app>